WebApplication/.vs/WebApplication/v16/.suo
WebApplication/WebApplication/obj/Debug/net5.0/WebApplication.assets.cache
WebApplication/WebApplication/obj/WebApplication.csproj.nuget.dgspec.json
WebApplication/WebApplication/obj/WebApplication.csproj.nuget.g.props
WebApplication/WebApplication/obj/project.nuget.cache
WebApplication/WebApplication/obj/project.assets.json
